button {
  display: inline-block;
  border: none;
  padding: 3px 5px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 0.8em;
  color: black;
  border-radius: 3px;
  border: 1px solid black;
  height: 1.8em;
}

.bold {
  border: 2px solid black;
}
