.category-table {
  height: 360px;
  overflow: scroll;
}

.category-row {
  display: flex;
}

.category-row-items {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.category-item {
  margin: 0px 2px;
  flex-shrink: 0;
}
.category-name {
  max-width: 200px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
