#card-filter-contents {
  // max-height: 400px;
  // overflow-y: scroll;
}

.category-table {
  // max-height: 360px;
  // overflow-y: scroll;
}

.category-row {
  display: flex;
  margin-top: 2px;
}

.category-row-items {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.category-item {
  margin: 0px 2px;
  flex-shrink: 0;
}
.category-name {
  max-width: 160px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}

.category-row-show-only {
  font-size: 10px;
  cursor: pointer;
  margin-top: -2px;
}
