.welcome {
  margin: 8px 0px;
}

.welcome-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7em;
}

.pilea-logo {
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}
