@import 'colors';
.items-content {
  display: flex;
}

.items-current-items {
  // border: 1px solid black;
  border-right: 1px solid rgb(66, 66, 66);
  // border-radius: 5px;
  padding: 0 10px 0 5px;
  margin-right: 5px;
}

.item-display {
  flex-shrink: 0;
  width: 200px;
  margin-bottom: 0px;
}

.items-collection {
  widows: auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 220px);
  overflow-y: scroll;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -6px;
}
.card-group {
  margin: 8px 0px;
}

.card-name {
  margin: 0 0 3px 0;
}

.currency {
  margin-right: 5px;
}
.currency-balance {
  color: $red;
}
.currency-available {
  color: $green;
}
.currency-type {
  font-style: italic;
  font-weight: 150;
  color: $faded-grey;
}

.new-item-modal-container {
  position: absolute;
  background-color: rgba(102, 102, 102, 0.582);
  width: 200%;
  height: 200%;
  margin-top: -300px;
  margin-left: -50%;
  display: flex;
  justify-content: center;
}
.new-item-modal {
  padding: 10px;
  background-color: white;
  margin-top: 300px;
  width: 300px;
  height: 110px;
  border: 1px solid black;
  border-radius: 5px;

  p {
    margin: 5px 0;
  }
}

.item-historical-balances {
  // border: 1px solid black;
  border-radius: 5px;
  padding: 0 5px;
}
