#main-view {
  display: flex;
  flex-direction: column;
}

#item-panel {
  margin-bottom: 5px;
}

#filters-analysis {
  display: flex;
}

#filters {
  width: 250px;
  flex-shrink: 0;
}

#analysis {
  width: 100%;
}

* {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
}

html {
  font-size: 16px;
}
