#main-view {
  display: flex;
  flex-direction: column;
}

#item-panel {
  margin-bottom: 5px;
}

#filters-analysis {
  display: flex;
  align-items: flex-start;
}

#filters {
  width: 250px;
  flex-shrink: 0;
  height: calc(100vh - 175px);
  overflow-y: scroll;
  padding: 0 5px;
}

#analysis {
  padding: 0 10px 10px 10px;
  width: 100%;
  border-left: 1px solid rgb(66, 66, 66);
}

* {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
}

html {
  font-size: 16px;
}
